*.o
*.o.LDFLAGS
*.o.CXXFLAGS
.*.dep
.depend
.*.swp
*.so
/libRPGML/utest/utest_main
/rpgml/rpgml
/rpgml/prettyprinter
/rpgml/performance_Array
.parser_files
/libRPGML/RPGML/location.hh
/libRPGML/RPGML/position.hh
/libRPGML/RPGML/rpgml.output
/libRPGML/RPGML/rpgml.tab.cc
/libRPGML/RPGML/rpgml.tab.hh
/libRPGML/RPGML/stack.hh
.rerun_stest
stest_*.pretty
stest_*.output
